@mixin vertical-align {
   position: relative;
   top: 50%;
   -webkit-transform: translateY(-50%);
   -ms-transform: translateY(-50%);
   transform: translateY(-50%);
}

@mixin transition($args:'all 400ms') {
	-webkit-transition: #{$args};
	-moz-transition: #{$args};
	transition: #{$args};
}

@mixin transform($args) {
	-webkit-transform: $args;
	-moz-transform: $args;
	transform: $args;
}

@mixin transform-style($args) {
	-webkit-transform-style: $args;
	-moz-transform-style: $args;
	transform-style: $args;
}

@mixin transform-origin($args) {
	-webkit-transform-origin: $args;
	-moz-transform-origin: $args;
	transform-origin: $args;
}

@mixin perspective($args) {
	-webkit-perspective: $args;
	-moz-perspective: $args;
	perspective: $args;
}

@mixin perspective-origin($args) {
	-webkit-perspective-origin: $args;
	-moz-perspective-origin: $args;
	perspective-origin: $args;
}

@mixin flexbox {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

@mixin align-items($arg) {
  align-items: $arg;
  -webkit-align-items: $arg;  
}

@mixin align-self($arg) {
  align-self: $arg;
  -webkit-align-self: $arg;
}

@mixin justify-content($arg) {
  justify-content: $arg;
  -webkit-justify-content: $arg;
}

@mixin align-content($arg) {
  align-content: $arg;
  -webkit-align-content: $arg;
}

@mixin flex-direction($arg) {
  flex-direction: $arg;
  -webkit-flex-direction: $arg;
}

@mixin flex-wrap($arg) {
  flex-wrap: $arg;
  -webkit-flex-wrap: $arg;
}

@mixin flex($arg) {
  flex: $arg;
  -webkit-flex: $arg;
}

@mixin flex-basis($arg) {
  flex-basis: $arg;
  -webkit-flex-basis: $arg;
}

@mixin flex-grow($arg) {
  flex-grow: $arg;
  -webkit-flex-grow: $arg;
}

@mixin flex-shrink($arg) {
  flex-shrink: $arg;
  -webkit-flex-shrink: $arg;
}
