@import 'mixins';

.article-list {
  .article-item {    
    .article-image {
      overflow: hidden;
      height: 230px;
      img {
        @include transition(all 1000ms);
      }
    }  
    &:hover {
      .article-image {
        img {
          @include transform(scale(1.2))
        }        
      }
    }    
  }
}

.sidelist {
  h3 {
    margin: 1em 0;
    font-family: "PF Din Cond Pro Regular";
    font-weight: normal;
    text-transform: uppercase;    
  }
  margin-bottom: 1em;
}

@mixin digit-background($color) {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, $color), color-stop(49%, $color), color-stop(49%, #ffffff), color-stop(51%, #ffffff), color-stop(51%, $color), color-stop(100%, $color));
  background: -webkit-linear-gradient(top, $color 0%, $color 49%, #ffffff 49%, #ffffff 51%, $color 51%, $color 100%);
  background: -moz-linear-gradient(top, $color 0%, $color 49%, #ffffff 49%, #ffffff 51%, $color 51%, $color 100%);
  background: -o-linear-gradient(top, $color 0%, $color 49%, #ffffff 49%, #ffffff 51%, $color 51%, $color 100%);
  background: linear-gradient(top, $color 0%, $color 49%, #ffffff 49%, #ffffff 51%, $color 51%, $color 100%); 
}

.sidelist .birthdays {
  padding: 1em 2em;
  .item {
    margin-bottom: 1em;
  }
  .article-date {
    text-transform: uppercase;
    &.today {
      .digit {
        @include digit-background(#1c75bb);
      }
    }
  }
  .persons {
    padding-top: 0.3em;
    .person_item {
      margin-bottom: 0.3em;
    }    
  }
  .article-title {    
    text-transform: uppercase;
    font-family: "PF Din Comp Pro Medium",Tahoma,Arial,sans-serif;
    margin-right: 0;
    margin-bottom: 0;
  }
  .position {
    font-family: "PF Din Cond Pro Regular";
    font-size: 80%;    
    margin-left: 45px;
    text-transform: lowercase;
  }
}

.sidelist {
  hr {
    border-top: 1px gray solid;
  }  
  .ratings {
    h3 {
      padding: 1em 2em 0;
    }
    .list {
      .item {       
        padding-left: 1.5em;
        line-height: 2;
        .number {
          display: inline-block;
          font-family: "PF Din Cond Pro Regular";
          font-size: 110%;
          width: 1em;
          text-align: right;
        }
        .team {
          display: inline-block;
          margin-left: 0.5em;
          width: 63%;
        }
        .points {
          font-family: "PF Din Cond Pro Regular";
          color: gray;
        }
        &.active {
          color: white;
          background: #1c75bb;
          .points {
             color: white;
          }
        }
      }
    }      
  }
  .rating_links {
    padding: 0.5em 1em 1em 2em;
    h3 {
      color: gray;       
      text-transform: none;
      font-family: "Liberation Sans";
      font-size: 95%;
    }

    ul {
      text-align: left; 
      list-style: none;
      padding: 0;
      font-size: 90%;
      li {
        margin: 0.8em 0;

      }
    }
  }
}

@keyframes rotator {
  0%  {
    @include transform(rotate(0deg));
  }
  100% {
    @include transform(rotate(-360deg));
  }
}

.loadmore {
  padding-top: 35px;  
  font: italic 17px "PF Din Cond Pro Regular", Tahoma, Arial, sans-serif;
  color: #58595b;
  cursor: pointer;
  text-align: center;  
  &:hover {
    color: #1c75bb; 
  }
  &:before { 
    content: url(/images/icon_loadmore.png);
    display: block;
  }
  &.pending {
    &:before {
      animation: rotator 1s linear infinite;
    }    
  }
}

.menu { 
  li.arrow_button {
    box-sizing: border-box;
    font-family: "PF Din Cond Pro Regular";
    font-weight: normal;
    font-size: 60%;
    padding: 0.3em 0.5em;
    margin: 0;
    line-height: 1;
    position: absolute;
    right: 2em;
    top: 0.7em;
    border: 1px white solid;
    border-right: none;
    &:after {
      content: '';      
      background: url('/images/arrow.svg');
      background-size: cover;
      position: absolute;
      display: block;
      right: -0.5em;
      top: 0;
      width: 0.5em;
      height: 100%;
    }
  }
  li.actual_button {
    position: absolute;
    right: 2em;
    top: 0;
  }
}

.rk_content {
  position: relative; 
  margin: 0 -33px;
  background: #EEE9D6;  
  padding-bottom: 2em;
  .rk_logo {
    text-align: center;
    background: url(image-path('rk-stripes.png')) repeat-x center;
    padding: 2em 0;
  }  
  .rk_block {
    text-align: center;
    padding: 0 0 2em;    
    margin: 0 33px;
    a {
      color: black;
      text-decoration: underline;
      margin: 0 0.5em;
      &:hover {
        text-decoration: none;
      }
    }
    .time {
      font-size: 130%;
    }    
    .info {
      @include flexbox;
      @include align-items(center);
      margin: 1.5em 0;
      .team {
        font-size: 180%;
        font-family: "PF Din Cond Pro Regular", sans-serif;
        font-weight: bold;
        @include flex(1);
        &:first-child {
          text-align: right;
        }
        &:last-child {
          text-align: left;
        }
      }
      .score {
        margin: 0 2em;        
      }
      .score-delim {
        font-weight: bold;
      }
      .versus {
        $size: 1.9em;
        font-size: 120%;
        display: inline-block;
        background: black;
        color: white;
        width: $size;
        height: $size;
        border-radius: 50%;
        box-sizing: padding-box;
        vertical-align: middle;
        line-height: $size;
      }
    }
    .text {
      font-size: 110%;
      line-height: 1.4;
    }
  }
  .rk_block + .rk_block {
    border-top: 4px solid #FD212D;    
    padding-top: 2em;
  }
}

.main.page#articles_rk {
  .articles_top {
    display: none;    
  }
  .articles {
    margin-top: 50px;
  }
}

.main.page#articles_rk + .sidebar {
  margin-top: 50px;
}