@import 'mixins';

.article-list {
  .article-item {    
    .article-image {
      overflow: hidden;
      height: 230px;
      img {
        @include transition(all 1000ms);
      }
    }  
    &:hover {
      .article-image {
        img {
          @include transform(scale(1.2))
        }        
      }
    }    
  }
}

.sidelist {
  h3 {
    margin: 1em 0;
    font-family: "PF Din Cond Pro Regular";
    font-weight: normal;
    text-transform: uppercase;    
  }
  margin-bottom: 1em;
}

@mixin digit-background($color) {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, $color), color-stop(49%, $color), color-stop(49%, #ffffff), color-stop(51%, #ffffff), color-stop(51%, $color), color-stop(100%, $color));
  background: -webkit-linear-gradient(top, $color 0%, $color 49%, #ffffff 49%, #ffffff 51%, $color 51%, $color 100%);
  background: -moz-linear-gradient(top, $color 0%, $color 49%, #ffffff 49%, #ffffff 51%, $color 51%, $color 100%);
  background: -o-linear-gradient(top, $color 0%, $color 49%, #ffffff 49%, #ffffff 51%, $color 51%, $color 100%);
  background: linear-gradient(top, $color 0%, $color 49%, #ffffff 49%, #ffffff 51%, $color 51%, $color 100%); 
}

.sidelist .birthdays {
  padding: 1em 2em;
  .item {
    margin-bottom: 1em;
  }
  .article-date {
    text-transform: uppercase;
    &.today {
      .digit {
        @include digit-background(#1c75bb);
      }
    }
  }
  .persons {
    padding-top: 0.3em;
    .person_item {
      margin-bottom: 0.3em;
    }    
  }
  .article-title {    
    text-transform: uppercase;
    font-family: "PF Din Comp Pro Medium",Tahoma,Arial,sans-serif;
    margin-right: 0;
    margin-bottom: 0;
  }
  .position {
    font-family: "PF Din Cond Pro Regular";
    font-size: 80%;    
    margin-left: 45px;
    text-transform: lowercase;
  }
}

.sidelist {
  hr {
    border-top: 1px gray solid;
  }  
  .ratings {
    h3 {
      padding: 1em 2em 0;
    }
    .list {
      .item {       
        padding-left: 1.5em;
        line-height: 2;
        .number {
          display: inline-block;
          font-family: "PF Din Cond Pro Regular";
          font-size: 110%;
          width: 1em;
          text-align: right;
        }
        .team {
          display: inline-block;
          margin-left: 0.5em;
          width: 63%;
        }
        .points {
          font-family: "PF Din Cond Pro Regular";
          color: gray;
        }
        &.active {
          color: white;
          background: #1c75bb;
          .points {
             color: white;
          }
        }
      }
    }      
  }
  .rating_links {
    padding: 0.5em 1em 1em 2em;
    h3 {
      color: gray;       
      text-transform: none;
      font-family: "Liberation Sans";
      font-size: 95%;
    }

    ul {
      text-align: left; 
      list-style: none;
      padding: 0;
      font-size: 90%;
      li {
        margin: 0.8em 0;

      }
    }
  }
}

@keyframes rotator {
  0%  {
    @include transform(rotate(0deg));
  }
  100% {
    @include transform(rotate(-360deg));
  }
}

.loadmore {
  padding-top: 35px;  
  font: italic 17px "PF Din Cond Pro Regular", Tahoma, Arial, sans-serif;
  color: #58595b;
  cursor: pointer;
  text-align: center;  
  &:hover {
    color: #1c75bb; 
  }
  &:before { 
    content: url(/images/icon_loadmore.png);
    display: block;
  }
  &.pending {
    &:before {
      animation: rotator 1s linear infinite;
    }    
  }
}
