- list = Person.birthdays.find(Date.today, Date.today + 3.month)
-unless list.empty?
  .sidelist 
    .birthdays
      %h3 Дни рождения в команде
      - n = 4
      -list.sort.each do |date, value|
        - if(n > 0)
          - n -= 1
          .item.clear
            .article-date{class: Date.today == date ? 'today' : ''}
              .digit= date.day
              =l date, :format => "%b / %a"
            .persons
              -value.each do |person|
                .person_item
                  .article-title= person['name']
                  - if person['position']
                    .position= person['position'] 
