- @favorites.each_with_index do |article, i|
  %li.sidelist-item{:class => article.main ? 'sidelist-item_featured' : ''}
    %a{:href => article_path(article)}
      - if article.image.exists?
        %img.sidelist-image{:src => article.image(:thumb), :alt => article.title}/
      %span.sidelist-title= article.type
      %span.sidelist-desc= article.title